@font-face {
  font-family: "Hanalei Fill";
  src: url("../fonts/HanaleiFill-Regular.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplay-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../fonts/playfairdisplay-variablefont_wght-webfont.woff") format("woff");
}
